
@model NowBuySell.Data.LeadRequest
@{
    ViewBag.Title = "Car Return Request";
    Layout = null;
}


<div class="modal-header">
    <h5 class="modal-title">Lead Request Details</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i aria-hidden="true" class="ki ki-close"></i>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12 col-sm-12 mb-1">
            <div class="float-left">
                <i class="fa fa-calendar"></i>
                <b>@Html.Label("Creation Date:", htmlAttributes: new { @class = "control-label" })</b>
                @if (Model.CreatedOn.HasValue)
                {
                    var date = Model.CreatedOn.Value.ToString("dd MMM yyyy, h:mm tt");
                    <label class="control-label" readonly="readonly">@date</label>
                }
                else
                {
                    <label class="control-label" readonly="readonly"> - </label>
                }
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="input-group mb-3">
                <label class="control-label">Request #</label>
                <div class="input-group mb-3">
                    <label class="form-control" readonly="readonly">@(Model.RequestNo != null ? Model.RequestNo : "-")</label>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-clipboard-list"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="input-group mb-3">
                <label class="control-label">Solicitor</label>
                <div class="input-group mb-3">
                    <label class="form-control" readonly="readonly">@(Model.Name != null ? Model.Name : "-")</label>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="input-group mb-3">
                <label class="control-label">Company</label>
                <div class="input-group mb-3">
                    <label class="form-control" readonly="readonly">@(Model.Company != null ? Model.Company : "-")</label>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-align-justify"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12">
            <div class="input-group mb-3">
                <label class="control-label">Nationality</label>
                <div class="input-group mb-3">
                    <label class="form-control" readonly="readonly">@(Model.Nationality != null ? Model.Nationality : "-")</label>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-flag"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="form-group">
                <label class="control-label">Phone</label>
                <div class="input-group mb-3">
                    <label class="form-control" readonly="readonly">@(Model.Phone != null ? Model.Phone : "-")</label>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-phone"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="form-group">
                <label class="control-label">Customer Email</label>
                <div class="input-group mb-3">
                    <label class="form-control" readonly="readonly">@(Model.Customer != null ? Model.Customer.Email : "-")</label>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="form-group">
                <label class="control-label">Service</label>
                <div class="input-group mb-3">
                    <label class="form-control float-right" readonly="readonly">@Model.ServiceCar.Title</label>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-cube"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="form-group">
                <label class="control-label">Service Type</label>
                <div class="input-group mb-3">
                    <label class="form-control float-right" readonly="readonly">@Model.ServiceCar.ServiceCompare.Name</label>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-cube"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="form-group">
                <label class="control-label">Category</label>
                <div class="input-group mb-3">
                    <label class="form-control float-right" readonly="readonly">@Model.ServiceCar.ServiceCompare.ServiceCategory.Name</label>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-cube"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <label class="control-label">Status</label>
                <div class="input-group mb-3">
                    <label class="form-control float-right" readonly="readonly">@Model.Status</label>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-stream"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label">Features</label>
                <div class="input-group mb-2">
                    @if (Model.ServiceCar.ServiceCarAttributes.Count() > 0)
                    {
                        <textarea class="form-control" cols="100" rows="10" id="Attributes" name="Attributes" placeholder="Attributes" readonly="readonly">
                        @foreach (var attr in Model.ServiceCar.ServiceCarAttributes)
                        {
                           @:@attr.Name : @attr.Value 
                        }
                        </textarea>
                    }

                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label class="control-label">Address</label>
                <div class="input-group mb-2">
                    @Html.TextAreaFor(model => model.Address, 10, 100, new { @class = "form-control", placeholder = "Address", @readonly = "readonly" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
