@model IEnumerable<NowBuySell.Data.VendorWithdrawalRequest>

@{
	Layout = null;
}

<div class="card-body">
	<table class="table table-separate table-head-custom table-checkable" id="kt_datatable123">
		<thead>
			<tr>
				<th>Date</th>
				<th>Vendor</th>
				<th>Amount</th>
				<th>Status</th>
				<th></th>
			</tr>
		</thead>
		<tbody style="display:none">
			@foreach (var item in Model)
			{
				<tr>
					<td>@(item.CreatedOn.HasValue ? item.CreatedOn.Value.ToString("dd MMM yyyy, h:mm tt") : "-")	</td>
					<td>
						@Html.DisplayFor(modelItem => item.Vendor.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Amount)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Status)
					</td>
					<td nowrap="nowrap">@item.ID</td>
				</tr>
			}
		</tbody>
	</table>
</div>
