@model IEnumerable<NowBuySell.Data.Property>

@{
    ViewBag.Title = "List";
    Layout = null;
}
<style>
    #kt_datatable1 tbody tr td:last-child {
        white-space: nowrap;
    }
</style>
<!--begin::Row-->
<div class="row">
    <div class="col-xl-12">
        <!--begin::Card-->
        <div class="card card-custom gutter-b">
            <div class="card-header flex-wrap border-0 pt-6 pb-0">
                <div class="card-title">
                    <h3 class="card-label">
                        Properties
                        <span class="d-block text-muted pt-2 font-size-sm">Manage Properties Here...</span>
                    </h3>
                </div>

                <div class="card-toolbar">
                    <!--begin::Button-->
                    <!--<div class="dropdown dropdown-inline mr-2">
        @using (Html.BeginForm("Index", "Gallery", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <button type="submit" class="btn btn-dark btn-sm excel-btn">
                <i class="far fa-image"></i>
                Gallery
            </button>
        }
    </div>
    <div class="dropdown dropdown-inline mr-2">
        <a href="~/Assets/AppFiles/Documents/CSVSample/BulkCar.xlsx" download type="button" class="btn btn-dark btn-sm">
            <i class="fa fa-download"></i>
            Sample CSV
        </a>
    </div>-->
                    @*<div class="dropdown dropdown-inline mr-2">
            @using (Html.BeginForm("CarsReport", "Car", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <button type="submit" class="btn btn-dark btn-sm excel-btn">
                    <i class="far fa-file-excel"></i>
                    Export Excel
                </button>
            }
        </div>*@
                    @*<div class="dropdown dropdown-inline mr-2">
            <a href="~/Assets/AppFiles/Documents/CSVSample/BulkProperty.xlsx" download type="button" class="btn btn-dark btn-sm">
                <i class="fa fa-download"></i>
                Sample CSV
            </a>
        </div>


        <form id="BlkUploader" action="/City/BulkUpload" method="post" enctype="multipart/form-data">
            <div class="dropdown dropdown-inline mr-2">
                <input type="file" hidden id="FileUpload" name="FileUpload" />
                <button type="button" class="btn btn-dark btn-sm" onclick="OpenModelPopup(this, '/Vendor/Property/BulkUpload')" data="/Vendor/Property/BulkUpload">
                    <i class="fa fa-plus"></i>
                    Bulk Upload
                </button>
            </div>
        </form>
        <div class="dropdown dropdown-inline mr-2">
            @using (Html.BeginForm("PropertiesReport", "Property", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <button type="submit" class="btn btn-dark btn-sm excel-btn">
                    <i class="far fa-file-excel"></i>
                    Export Excel
                </button>
            }
        </div>*@

                    <div class="dropdown dropdown-inline mr-2">
                        <button type="button" id="approveall" class="btn btn-outline-success btn-sm mr-1 btn-bulk-publish" onclick="BulkPublish(this,0)">
                            <i class="fa fa-check-circle"></i> Bulk Publish (0)
                        </button>
                    </div>

                    <div class="dropdown dropdown-inline mr-2">
                        <a href="javascript:;" class="btn btn-info font-weight-bolder" onclick="OpenModelPopup(this,'/Vendor/Property/Create')">
                            <span class="svg-icon svg-icon-md">
                                <!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg-->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <circle fill="#000000" cx="9" cy="15" r="6" />
                                        <path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3" />
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span> Add Property
                        </a>
                    </div>
                    <div class="dropdown dropdown-inline mr-2">
                        <select id="filterdropdown" class="form-control" onchange="Filterlist(this.value)">
                            <option selected value="All">All</option>
                            <option value="Sold">Sold</option>
                            <option value="Featured">Featured</option>
                            <option value="Premium">Premium</option>
                            <option value="Verified">Verified</option>
                        </select>
                    </div>
                    <div>
                        <div class="dropdown dropdown-inline mr-2">
                            <button type="button" class="btn btn-outline-secondary" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"></path>
                                </svg>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                                <form action="/Vendor/Property/PropertiesReport" method="post">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="dropdown-item">
                                        <i class="far fa-file-excel" style="margin-right: 4px;"></i>
                                        Export Excel
                                    </button>
                                </form>

                                <a href="~/Assets/AppFiles/Documents/CSVSample/BulkProperty.xlsx" download type="button" class="dropdown-item">
                                    <i class="fa fa-download" style="margin-right: 4px;"></i>
                                    Sample CSV
                                </a>
                                <form id="BlkUploader" action="/City/BulkUpload" method="post" enctype="multipart/form-data">
                                    <input type="file" hidden id="FileUpload" name="FileUpload" />
                                    <button type="button" class="dropdown-item" onclick="OpenModelPopup(this, '/Vendor/Property/BulkUpload')" data="/Vendor/Property/BulkUpload">
                                        <i class="fa fa-plus" style="margin-right: 4px;"></i>
                                        Bulk Upload
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>


                    <!--end::Button-->
                </div>
            </div>
         
            <div class="card-body">
                @Html.AntiForgeryToken()
                <!--begin: Datatable-->
                <table class="table table-separate table-head-custom table-checkable" id="kt_datatable1">
                    <thead>
                        <tr>
                            <th hidden>ID</th>
                            <th>
                                <label class="checkbox checkbox-lg checkbox-inline">
                                    <input type="checkbox" value="1" id="checkAll"  name="checkAll">
                                    <span></span>
                                </label>
                            </th>
                            <th>Date</th>
                            <th>Title</th>
                            <th>Sold</th>
                            <th>Status</th>
                            @*<th>Active/InActive</th>*@
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody style="display:none">
                        @*foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td>@item.IsPublished</td>
                                <td data-order="@item.ID">@(item.CreatedOn.ToString("dd MMM yyyy, h:mm tt"))</td>
                                <td>@item.Thumbnail,@item.Title,@item.AdsReferenceCode,@item.IsFeatured,@item.Slug,@item.CallCount,@item.IsPremium,@item.IsVerified</td>
                                <td>@item.IsSold</td>
                                <td>@item.IsPublished</td>
                                <td>@item.IsActive</td>
                                <td></td>
                            </tr>
                        }*@
                    </tbody>
                </table>
                <!--end: Datatable-->
            </div>
        </div>
        <!--end::Card-->
    </div>
</div>
<!--end::Row-->
