@model IEnumerable<NowBuySell.Data.Car>

@{
    ViewBag.Title = "MotorAdListList";
    Layout = null;
}
<style>
    #kt_datatable1 tbody tr td:last-child {
        white-space: nowrap;
    }
</style>
<!--begin::Row-->
<div class="row">
    <div class="col-xl-12">
        <!--begin::Card-->
        <div class="card card-custom gutter-b">
            <div class="card-header flex-wrap border-0 pt-6 pb-0">
                <div class="card-title">
                    <h3 class="card-label">
                        Cars Ad Portal 
                        <span class="d-block text-muted pt-2 font-size-sm">Manage Car Ads Here...</span>
                    </h3>
                </div>
                <div class="card-toolbar">
                    <!--begin::Button-->
                    <div class="dropdown dropdown-inline mr-2">
                        @using (Html.BeginForm("ApprovalReport", "Car", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <button type="submit" class="excel-btn btn btn-dark btn-sm ">
                                <i class="far fa-file-excel"></i>
                                Export Excel
                            </button>
                        }
                    </div>
                    <!--end::Button-->
                    <div class="dropdown dropdown-inline mr-2">
                        <button type="button" id="approveall" class="btn btn-outline-success btn-sm mr-1 btn_approveall" onclick="BulkSendForApproval(this,0)">
                            <i class="fa fa-check-circle"></i> Approved (0)
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                @Html.AntiForgeryToken()
                <!--begin: Datatable-->
                <table class="table table-separate table-head-custom table-checkable" id="kt_datatable1">
                    <thead>
                        <tr>
                            <th>
                                <label class="checkbox checkbox-lg checkbox-inline">
                                    <input type="checkbox" value="1" id="checkAll" name="checkAll">
                                    <span></span>
                                </label>
                            </th>
                            <th>Date</th>
                            <td>Vendor</td>
                            @*<th>Name</th>*@
                            @*<th>Regular Price</th>*@
                            <th>Motor</th>
                            @* <th>Thumbnail</th>*@
                          @*  <th>Model Year</th>*@
                            <th>Status</th>
                          @*  <th>Approved</th>*@
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td nowrap="nowrap">
                                    <label class="custom_check">
                                        <input type="checkbox" class="Checkbox" value="@item.ID" name="select_specialist"> <span class="checkmark"></span>
                                    </label>
                                </td>
                                @*<td nowrap="nowrap"> <input type="checkbox" class="checkbox"id="@item.ID" </td>*@
                                <td>@(item.CreatedOn.HasValue ? item.CreatedOn.Value.ToString("dd MMM yyyy, h:mm tt") : "-")	</td>
                                <td>@(item.Vendor != null ? item.Vendor.Name + "|" + item.Vendor.VendorCode : "-")</td>
                                <td>@item.Name|@item.SKU</td>
                                <td>@item.ApprovalStatus</td>
                                <td nowrap="nowrap">@item.ApprovalStatus,@item.ID</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!--end: Datatable-->
            </div>
        </div>
        <!--end::Card-->
    </div>
</div>
<!--end::Row-->
